body {
  height: -webkit-fill-available;
  padding: 50px;
}

#box {
  height: 100px;
  width: 100px;
  background-color: red;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.rotate {
  transform: rotate(90deg);
}
